.vscode/**
.vscode-test/**
src/**
out/**
dist/**/*.map
node_modules/**
.gitignore
.eslintrc.json
.prettierrc
*.md
!README.md
!LICENSE.md
*.mjs
tsconfig.json
package-lock.json
yarn.lock
pnpm-lock.yaml
mcp-server/**
*.vsix
